# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:4123/prisma?schema=public"

# All environment variables must be prefixed with VITE_, otherwise, the variables won't be exposed due to security reasons.

SECRET_KEY="agas98gya9s8gya8s-gy9a"
SECRET_UPLOAD_DIR="uploads/"

# Only for compability reasons - database had relative paths previously.
SECRET_AUDIO_UPLOAD_DIR=""

SECRET_MAIL_HOST="mail.hosting.com"
SECRET_MAIL_PORT="465"
SECRET_MAIL_USER="tugi@tekstiks.ee"
SECRET_MAIL_PASS="ag12g2?@fas"

FIN_ASR_UPLOAD_URL="http://www"
FIN_ASR_RESULTS_URL="http://www"

EST_ASR_URL="http://0.0.0.0:7700"
EST_ASR_USE_NEW=false