@tailwind base;
@tailwind components;
@tailwind utilities;

.playing {
	color: #70acc7;
}

.played {
	color: #9b9b9b;
}

.svelte-renderer {
	display: block;
}

.wavesurfer-region {
	border-color: #b2b0b6;
	border-style: solid;
	border-width: 0 1px 0;
	opacity: 0.3;
	color: "rgba(0, 0, 0, 0.1)"
}

.marker-label {
	z-index: 5;
}

.lang-label {
	position: relative;
	line-height: 2.5;
}
    
.lang-label::before {
	position: absolute;
	text-align: center;
    top: -20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
	font-size: small;
	box-sizing: border-box;
	content: attr(annovalue);
	color: inherit;
}

.pron-label {
	display: inline-flex;
	align-items: center;
	position: relative;
	border-width: 2px;
	border-color: blue;
	border-style: dotted;
	background-color: white;
}

.pron-label::after {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: small;
	content: attr(annovalue);
	color: inherit;
	margin-left: 2px;
	margin-right: 2px;
}

mark > .lang-label {
	line-height: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}
mark > .lang-label::before {
	top: -11px;
}